<app-navbar [usermain]="usermain"></app-navbar>
<body>
  <main>
    <section class="title_alquiler">
      <h1>A un paso de alquilar tu espacio ideal</h1>
    </section>
    <section class="datos_compra">
      <div>
        <div class="section_compra">
          <h2 class="caract_text">Inmueble que vas a alquilar:</h2>
          <h3><span class="caract_text">Ubicación: </span><span>{{property.address}}</span></h3>
          <h3><span class="caract_text">Tipo de inmueble: </span> <span>{{property.typeProperty}}</span></h3>
          <h3><span class="caract_text">Tiempo de antiguedad: </span> <span>{{property.timeAntiquity}}</span></h3>
          <h1><span style="font-weight: bold;" class="caract_text">Precio del inmueble: </span> S/.<span>{{property.price}}</span></h1>
        </div>
      </div>
      <div>
        <div class="section_compra">
          <h2 class="caract_text">Datos del propietario</h2>
          <h3><span class="caract_text">Nombre: </span> <span>{{nombrecompleto()}}</span></h3>
          <h3><span class="caract_text">Teléfono: </span> <span>{{property.userContact.telephone}}</span></h3>
          <h3><span class="caract_text">Correo electrónico: </span> <span>{{property.userContact.email}}</span></h3>
          <h3><span class="caract_text">Fecha de registro en la web: </span><span>{{property.userContact.dateAfiiliation}}</span></h3>
        </div>
      </div>
      
    </section>
    <div class="input my-5">
      <form class="formulario" [formGroup]="formPublicar">
        <mat-form-field class="formField">
            <mat-label>Precio de alquiler</mat-label>
            <input matInput type="number" formControlName="precio" placeholder="Costo en soles">
            <span matTextPrefix>S/.&nbsp;</span>
            <span matTextSuffix>.00 al mes</span>
            <div *ngIf="formPublicar.get('precio')?.hasError('required') && formPublicar.get('precio')?.touched">
                <span style="color: red;">Este campo es obligatorio</span>
            </div>
            <div *ngIf="formPublicar.get('precio')?.hasError('min')">
              <span style="color: red;">Valor menor al 80% del valor del inmueble</span>
          </div>
        </mat-form-field>
      </form>
    </div>
    <div class="div_button">
      <button (click)="savealquiler()" >Alquilar este inmueble</button>
    </div>
  </main>
</body>

